.dashboard-container {
    width: 600px;
    margin: auto;
}

.create-project {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.create-project input {
    padding: 8px;
    font-size: 14px;
    width: 300px;
}

ul li {
    padding: 10px;
    border: 1px solid cornsilk;
    margin-bottom: 5px;
}

.create-project button {
    padding: 8px 12px;
    background-color: burlywood;
    color: white;
    width: 200px;
}
.create-project input {
    padding: 6px 8px;
    font-size: 14px;
    height: 32px;
}
select {
    padding: 8px;
    font-size: 14px;
    width: 200px;
    height: 50px;
}
.hint-help{
    font-size:  8px;
}